.menu-bar
{
    display: flex;
    padding: 6px;
    box-sizing: border-box;
    align-items: center;
    gap: 20px;

    .logo-image
    {
        width: 100px;
    }

    .search-input-container
    {
        position: relative;

        .search-input
        {
            width: 500px;
            height: 40px;
            background-color: var(--background-input);
            border: solid 1px var(--background-page);
            border-radius: 15px;
            padding-left: 32px;
        }

        .search-icon
        {
            color: var(--background-page);
            position: absolute;
            top: 12px;
            left: 6px;
        }
    }
}

