<!-- Barra de menu -->
<div class="menu-bar">

    <!-- Imagem de logo -->
    <img 
        class="logo-image"
        src="/images/logo.png"
        title="Imagem de logo"
        alt="Imagem de logo"
    />

    <!-- Barra de busca -->
    <div class="search-input-container">
        
        <!-- Input de busca -->
        <input 
            class="search-input"
            type="text"
            placeholder="Qual música você quer escutar?"
        />

        <!-- ícone de busca -->
        <fa-icon class="search-icon" [icon]="iconSearch" />
    </div>
</div>

<!-- Tela de cards por gênero musical -->
<imusic-general-list 
    [title]="'Rock'"
/>

<imusic-general-list 
    [title]="'Sertanejo'"
/>